<!Doctype HTML>

<html lang=en>

<head>
<meta charset="utf-8" />
<title>Sticky Jots</title>
<link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
<link rel="icon" href="assets/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="../../css/main.css" type="text/css" />

<body>

	<img src="../../images/resources.jpg" id="hero">

	<div class="persist-area">
		<div class="banner">
			<header>
				<nav>
					<div id="nav_sticky">
					<div id="nav_scrolling">
						<ul class="nav">
							<li><a href="http://stickyjots.com/">Our Story</a></li>
							<li><a href="http://store.stickyjots.com" target="_blank">Store</a></li>
							<li><a href="http://stickyjots.com/resources/"><div id="nav_active">Resources</div></a></li>
							<li><a href="http://blog.stickyjots.com" target="_blank">Blog</a></li>
							<li><a href="mailto:info@stickyjots.com?Subject=Hello%20again">info@stickyjots.com</a></li>
						</ul>
					</div>
					</div>
				</nav>
			</header>
		</div>
	
	<section>
		<div class="white" id="resources">
			<div class="title">
				<h1>Resources</h1>
			</div>	
			<div class="line"></div>
			<ul class="sub-nav">
				<!-- <li><a href="tutorials.html">Tutorials</a></li> -->
				<li><a href="templates/"><div id="sub-nav_active">Templates</div></a></li>
				<li><a href="links/">Links</a></li>
			</ul>
			<div class="white">
				<div class="title">
					<div class="description">
						<p>We designed a template just for our stickies. This is helpful when you're figuring out flows and stuff.</p>
					</div>
					<div class="photo">
						<img src="../../images/slides/template.jpg" alt="template " height="480" width="960">
						<a href="http://stickyjots.com/resources/StickyJots_Mobile-Sketch.pdf" role="button" type="submit" target="_blank" class="order" id="order_big">Download Template</a>
					</div>
				</div>
			</dvi>
	</section>

	<footer>
		<div id="footer">
			<p>©
				<script type="text/javascript">
					var d = new Date();
					var year = d.getFullYear();
					document.write(year);
				</script>
			Sticky Jots</p>
		</div>
	</footer>

</body>	

</head>